.calc-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.calc-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 50%;
  width: 30%;
}

.calc-div > * {
  border: solid 1px rgb(188, 188, 188);
  padding: 2%;
  font-size: 2rem;
  background-color: rgb(243, 243, 243);
}

#answer {
  color: white;
  grid-column: 1 / span 4;
  text-align: end;
  background-color: rgb(146, 146, 146);
}

#zero {
  grid-column: 1 / span 2;
}

.num {
  padding: 0% 4%;
}

.operand {
  padding: 15% 4%;
  background-color: #f4a25f;
}
